---
import Layout from "../layouts/Layout.astro";
import ButtonLink from "~/components/ButtonLink.astro";
import Question from "~/components/Question.astro";
import Logo from "~/components/Logo.astro";

const base = import.meta.env.BASE_URL;
---

<Layout title="ooxml-templater-js | Home">
  <main
    class="w-full h-full flex flex-col items-center gap-4 pt-[12.5vh] pb-16 relative"
    transition:animate="fade"
  >
    <p
      class="text-center absolute top-16 text-[10vw] md:text-[7vw] opacity-5 select-none"
    >
      still wip ( ͡° ͜ʖ ͡°)
    </p>
    <Logo />
    <h1 class="font-mono text-3xl text-center">ooxml-templater-js</h1>
    <p class="text-center">
      no-nonsense{" "}
      <ButtonLink href="http://officeopenxml.com/" variant="link" class="px-0">
        ooxml
      </ButtonLink>{" "}
      file templater
    </p>

    <div class="h-16 w-[1px] bg-foreground/20 my-2">&nbsp;</div>

    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <Question
        question="what?"
        answer="a ts-powered templater that is minimally invasive. have docx, xlsx? we gotcha (▀͡ ͜ʖ͡▀)"
      />
      <Question
        question="wtf 'minimally invasive'?"
        answer="i don't want to parse every xmls, this lib just modifies them (-｡-;"
      />
      <Question
        question="stable?"
        answer="the core is. this is a pretty new lib so you might wanna test it first ¯\\_(ツ)_/¯"
      />
      <Question question="why?" answer="it's oss, duh ψ(｀∇ ´)ψ" />
    </section>

    <section class="mt-8 flex flex-row gap-4">
      <ButtonLink href={`${base}docx/`}>try docx</ButtonLink>
      <ButtonLink href={`${base}xlsx/`}>try xlsx</ButtonLink>
    </section>
  </main>
</Layout>
