---
import Layout from "../layouts/Layout.astro";

import InputFile from "~/components/xlsx/InputFile";
import OutputFile from "~/components/xlsx/OutputFile";
import DataInput from "~/components/xlsx/DataInput";
import Pipe from "~/components/xlsx/Pipe";
---

<Layout title="ooxml-templater-js | xlsx playground">
  <main
    transition:animate="fade"
    class="w-full min-h-screen flex flex-col items-center"
  >
    <div class="container p-6">
      <section class="grid grid-cols-3 gap-6">
        <InputFile client:load />
        <div class="flex flex-col items-center justify-center">
          <h1 class="text-xl">xlsx templater</h1>
        </div>
        <OutputFile client:load />
      </section>
      <section class="grid grid-cols-[20%_1fr_20%]">
        <Pipe which="left" client:idle />
        <div
          class="w-full rounded-md border border-foreground/10 p-4 flex flex-col gap-4 mt-6"
        >
          <DataInput client:load />
        </div>
        <Pipe which="right" client:idle />
      </section>
    </div>
  </main>
</Layout>
