---
const base = import.meta.env.BASE_URL;
---

<nav class="flex flex-row gap-4 sm:gap-6 items-center text-sm font-medium">
  <a
    class="transition-opacity hover:opacity-80 opacity-50"
    href={`${base}`}
    data-path="">home</a
  >
  <a
    class="transition-opacity hover:opacity-80 opacity-50"
    href={`${base}docx/`}
    data-path="docx/">docx</a
  >
  <a
    class="transition-opacity hover:opacity-80 opacity-50"
    href={`${base}xlsx/`}
    data-path="xlsx/">xlsx</a
  >
</nav>

<style>
  nav > a.active {
    @apply opacity-100 hover:opacity-100;
  }
</style>

<script>
  function updateActiveLink() {
    const navA = document.querySelectorAll<HTMLAnchorElement>("nav a");

    for (const a of navA) {
      a.classList.remove("active");

      const currentPath = window.location.pathname.slice(
        import.meta.env.BASE_URL.length,
      );

      if (currentPath === a.dataset["path"]) {
        a.classList.add("active");
      }
    }
  }

  updateActiveLink();
  document.addEventListener("astro:after-swap", updateActiveLink);
</script>
